#cloud-config

hostname: {{ coreos_hostname }}
ssh_authorized_keys:
  - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
{% for key in coreos_public_keys %}
  - {{ key }}
{% endfor %}

coreos:
  update:
    group: "{{coreos_channel}}"
    reboot-strategy: "{{coreos_reboot_strategy}}"
