[etcd-node]
176.9.123.237 coreos_hostname=core01 cluster_failover_ips=176.9.120.200,176.9.120.210
176.9.122.117 coreos_hostname=core02 cluster_failover_ips=176.9.120.200,176.9.120.210
176.9.118.230 coreos_hostname=core03

[etcd-proxy]

[coreos:children]
etcd-node
etcd-proxy

[all:vars]
kube_cluster_name=private
hetzner_webservice_username=<hetzner_webeservice_username>
hetzner_webservice_password=<hetzner_webservice_password>
baremetal_provider=hetzner
ansible_python_interpreter=/home/core/pypy/bin/python
rescue_authorized_key=<fingerprint of ssh key to use in rescue mode>
# cluster_failover_ips=176.9.120.200,176.9.120.210